header {
  text-align: center;
  margin: 40px 0;
}
footer {
  text-align: center;
  margin-top: 40px;
}
body {
  background: rgb(235, 255, 203);
}

.git-link {
  text-decoration: none;
  color: rgb(55, 84, 8);
}
.git-link:hover {
  color: rgb(97, 148, 15);
}
