form {
  text-align: center;
}
a {
  color: rgb(55, 84, 8);
  text-decoration: none;
}

a:hover {
  color: rgb(97, 148, 15);
}

.instr {
  text-align: center;
  color: rgba(23, 35, 4, 0.7);
}
.search-bar {
  padding: 20px 40px;
  border: 1px transparent;
  border-radius: 40px;
}
