.text-box {
  background: rgb(253, 255, 249);
  padding: 20px;
  border-radius: 10px;
  width: 85%;
  margin: 40px auto;
  box-shadow: 5px 5px 5px rgba(26, 41, 4, 0.3);
}

.definition {
  margin: 20px 0;
}
